@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');


body {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}

h1 {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
}


.header {
    height: 100vh;
    background: url(./img/Sections_background/section-1\(header\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

.navbar {
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.navbar-container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.logo-hexagon {
    position: relative;
}

.logo-hexagon span {
    position: absolute;
    top: 14px;
    left: 13.5px;
    font-weight: 700;
    font-size: 39px;
}

.hexagon {
    fill: #18CFAB;
}

.logo-title {
    font-size: 32px;
    font-weight: 400;
}

.logo-title span {
    color: #18CFAB;
    font-weight: 700;
}

.menu {
    display: flex;
    text-transform: uppercase;
    gap: 21px;
    color: rgba(255, 255, 255, 0.6);;
    font-weight: 700;
    font-size: 16px;
}

.menu-link {
    position: relative;
}

.menu-link:hover, .menu-magnifier:hover {
    color: #18CFAB;
    cursor: pointer;
}

.menu-link::after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -51px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    background: #18CFAB;
    transition: 0.2s;
}
 

.menu-link:hover:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -51px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: #18CFAB;
}

.banner-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 129px;
}

.banner-content-headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.banner-content-headlines span {
    color: #18CFAB;
}

.banner-content-headlines p {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
}

.btn {
    box-sizing: content-box;
    width: 169px;
    height: 63px;
    border-radius: 7px;
    border-top: 5px white solid;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px 10px;
    transition: 0.2s;
}

.explore-btn {
    background: #18CFAB;
}

.purchase-btn {
    background: #00CBF6;
}

.explore-btn:hover {
    background: #15b999;
    border-top: 4.5px #0d7d67 solid;    
}

.purchase-btn:hover {
    background: #00c3e9;
    border-top: 4.5px #009dbc solid;  
}

/* -------------------------- Main content: -------------------------------- */

.features {
    height: 370px;
    display: flex;
}

.features-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    gap: 47px;
    
}

.features-item-1, .features-item-3 {
    background: #1C2A33;
    color: #18CFAB;
}

.features-item-2, .features-item-4 {
    background: #18CFAB;
    color: #ffffff;
}


