@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');


body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}

h3 {
    position: relative;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    padding: 83px 0 100px;
    color: #4E4E4E;
}

h3::after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: 74px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 75px;
    background: #18CFAB;
    
}
h3::before {
    position: absolute;
    content: '';
    height: 1px;
    bottom: 69px; 
    margin: 0 auto;
    left: -20px;
    right: 0;
    width: 75px;
    background: #18CFAB;
    
}

a {
    text-decoration: none;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}



.header {
    height: 100vh;
    background: url(./img/Sections_background/section-1\(header\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    background-position: center;
    
}

.navbar {
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.navbar-container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.logo-hexagon {
    position: relative;
}

.logo-hexagon span {
    position: absolute;
    top: 14px;
    left: 13.5px;
    font-weight: 700;
    font-size: 39px;
}

.hexagon {
    fill: #18CFAB;
}

.logo-title {
    font-size: 32px;
    font-weight: 400;
}

.logo-title span {
    color: #18CFAB;
    font-weight: 700;
}

.menu {
    display: flex;
    text-transform: uppercase;
    gap: 21px;
    color: rgba(255, 255, 255, 0.6);;
    font-weight: 700;
    font-size: 16px;
}

.menu-link {
    position: relative;
}

.menu-link:hover, .menu-magnifier:hover {
    color: #18CFAB;
    cursor: pointer;
}

.menu-link::after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -51px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    background: #18CFAB;
    transition: 0.2s;
}
 

.menu-link:hover:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -51px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: #18CFAB;
}

.banner-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 129px;
}

.banner-content-headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.banner-content-headlines span {
    color: #18CFAB;
}

.banner-content-headlines p {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
}

.btn {
    box-sizing: content-box;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border-top: 5px white solid;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px 10px;
    transition: 0.2s;
}

.green-btn {
    background: #18CFAB;
}

.purchase-btn {
    background: #00CBF6;
}

.load-more-btn {
    background: #18CFAB;
    border: none;
    position: relative;
    margin-top: 70px;
}

.load-more-btn::before {
    content: "+";
    position: absolute;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 30px;
    top: 15px;
    left: 15px;
}

.load-more-btn:hover {
    background: #0d7d67;
}


.green-btn:hover {
    background: #15b999;
    border-top: 4.5px #0d7d67 solid;    
}

.purchase-btn:hover {
    background: #00c3e9;
    border-top: 4.5px #009dbc solid;  
}

.loading-btn {
    width:63px;
    height:63px;
    border:4px solid #1e9e84;
    border-top:4px solid #18CFAB;
    border-radius:50%;
    margin-top: 70px;
    color: #E9EDEF;
    -webkit-transition-property: -webkit-transform;
    transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1.2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: transform;
    animation-name: rotate; 
    animation-duration: 1.2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  
  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }
  
  @-moz-keyframes rotate {
      from {-moz-transform: rotate(0deg);}
      to {-moz-transform: rotate(360deg);}
  }
  
  @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }

  .chain-btn {
      border-radius: 50%;
      width: 41px;
      height: 41px;
      border: 1px #18CFAB solid;
      padding: 13px;
  }

  .stop-btn {
    border-radius: 50%;
    width: 41px;
    height: 41px;
    background-color: #18CFAB;
    padding: 14px;
  }
  

/* -------------------------- Features: -------------------------------- */

.features {
    height: 370px;
    display: flex;
}

.features-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    gap: 47px;
    
}

.features-item-1, .features-item-3 {
    background: #1C2A33;
    color: #18CFAB;
}

.features-item-2, .features-item-4 {
    background: #18CFAB;
    color: #ffffff;
}

/* -------------------------- Services: -------------------------------- */


.services-nav {
    display: flex;
    padding-bottom: 25px;
    cursor: pointer;
}

.services-nav-link {
    color: #717171;
    background: #F8FCFE;
    border: 1px #EDEFEF solid;
    width: 16.6%;
    line-height: 38px;
    padding: 16px 0 15px;
    text-align: center;

}

.services-nav-link.active {
    position: relative;
    background: #18CFAB;
    color: white;
    border: 1px #18CFAB solid;
}

.services-nav-link.active::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 15px solid #48cfaa;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    top: 95%;
    right: 42%;
}

.services-nav-link:hover {
    border: 1px #18CFAB solid;
}

.services-content {
    display: none;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    gap: 15px;
}

.services-content.active {
    display: flex;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    gap: 15px;
    
}

.services-content-articles {
    padding-bottom: 91px;
}

.services-content img {
    width: 190px;
    height: 100%;
}

/* -------------------------- Purchase: -------------------------------- */


.purchase {
    background: url(./img/Sections_background/section-2.jpg);
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 80%);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 125px 0;
    
}

.purchase span {
    font-weight: 700;
    font-size: 40px;
    color: #18CFAB;
    text-transform: uppercase;
}

.purchase p {
    font-weight: 400;
    font-size: 16px;
    color: #D8D8D8;
    padding-top: 13px;
    padding-bottom: 70px;
}


/* -------------------------- Amazing Work: -------------------------------- */
.amazing-work {
    background: #E9EDEF;
    text-align: center;
    padding-bottom:  70px;

}


.amazing-work-tabs {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;

}

.amazing-work-tab {
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    border: 1px #DADADA solid;
    padding: 15px 20px;
    cursor: pointer;
}

.amazing-work-tab:hover {
    border: 1px #5cb9a6 solid;
}

.amazing-work-tab.active {
    border: 1px #18CFAB solid;
}

.amazing-work-templates {
    display: flex;
    flex-wrap: wrap;
}

.amazing-work-templates img {
    width: 100%;
    height: 100%;
    object-fit: cover;	
    transition: 0.2s;
}

.aw-template {
    width: 25%;
    transition: 0.2s;
    position: relative;
    float: left;
    animation: scale 0.5s forwards;
    transform-origin:  center;

}


.aw-template.active {
    display: block;
}

.aw-template:hover {
    background-color: rgb(243, 243, 243);
}


@keyframes scale  {
    0% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}



.load-more-btn p {
    padding-left: 18px;
}

.hiden {
    display: none;
}


.work-hover-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 213.3px;
    gap: 5px;
}

.work-hover-cover span {
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;
    padding-top: 15px;
}

.work-hover-cover p {
    font-weight: 300;
    font-size: 12.1518px;
    color: #8A8A8A;
}




/* -------------------------- News: -------------------------------- */

.news {
    text-align: center;
    padding-bottom: 129px;
}

.news-covers {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}

.news-cover-link img {
    
    width: 100%;
    object-fit: cover;	
}

.date {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #203E38;
    color: white;
    padding: 14px 18px;
    line-height: 20px;
    transition: 0.1s;
}

.news-cover-link {
    position: relative;
    width: 208px;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;

}

.news-cover-link:hover .date {
    background: #18CFAB;
}

.news-cover-link:hover .descript span {
    color: #18CFAB;
}

.descript {
    text-align: left;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.1s;
}

.descript span {
    font-weight: 700;
    font-size: 17px;
    line-height: 39px;
    color: #717171;
    width: 100%;
    transition: 0.1s;
}

.author, .comment {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

.author {
    position: relative;
}

.author::after {
    content: '';
    position: absolute;
    background-color: #848684;
    width: 0.5px;
    height: 50%;
    bottom: 10px;
    right: -10px;
}


.comment {
    padding-left: 20px;
}

/* -------------------------- Feedback: -------------------------------- */

.feedback {
    background: url(./img/Sections_background/section-3.jpg);
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 104px;
    
}

.feedback h3 {
    color: white;
}

.feedback > p {
    padding: 36px 0;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}


.team span {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
}

.team p {
    font-weight: 300;
    font-size: 13px;
    color: #BBBBBB;
    padding: 10px 0 38px;
}

.team-intro-max-case img {
    border-radius: 50%;
    border: 12px #1fdab537 solid;
    width: 142px;
    height: 142px;
}


.team-intro-min {
    display: flex;
    justify-content: center;
    padding-top: 44px;
    align-items: center;
    gap: 20px;
}

.team-intro-min p {
    padding: 8px 11px 8px 9px;
    border: 1px #BBBBBB solid;
    display: inline-block
}

.arrow {
    border: solid #BBBBBB;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.team-intro-min p:hover {
    background: #18CFAB;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }


.team-intro-min-case img {
    border-radius: 50%;
    border: 6px #1fdab537 solid;
    width: 58px;
    height: 59px;
}

.team-intro-min-case.active {
    margin-bottom: 30px;
}

/* -------------------------- Footer: -------------------------------- */

footer {
    color: #AEAEAE;
    text-align: center;
    padding: 48px 0;
    background: #22353F;
}



/* test */

.gallery li { 
    display: none;
    float: left;
    list-style: none;
    margin-right: 10px;
  }
  .more, .less {
    background-color: #000;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin-top: 6px;
    padding: 6px 0;
    text-align: center;
      text-transform: uppercase;
    width: 320px;
  }